.ipynb_checkpoints
__pycache__
build
dist

statannot.egg-info/dependency_links.txt
statannot.egg-info/PKG-INFO
statannot.egg-info/requires.txt
statannot.egg-info/SOURCES.txt
statannot.egg-info/top_level.txt
